.first{
    background-color: blue;
    opacity: 0.1;
}
.second {
    background-color:blue;
    opacity: 0.2;
}
.third {
    background-color: blue;
    opacity: 0.3;
}
.fourth {
    background-color: blue;
    opacity: 0.4;
}
.fifth {
    background-color: blue;
    opacity: 0.5;
}
.sixth {
    background-color: blue;
    opacity: 0.6;
}
.seventh {
    background-color: blue;
    opacity: 0.7;
}
.eight {
    background-color: blue;
    opacity: 0.8;
}
.ninth {
    background-color: blue;
    opacity: 0.9;
}
.tenth {
    background-color: blue;
    opacity: 1;
}